html {
  font-size: $font-size;
}

body {
  background-color: $main_bg;
  font-family: $main_font;
  font-weight: normal;
  color: $text-color;
  overflow-x: hidden;
}

main {
  max-width: $main_width;
}

section {
  position: relative;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: bold;
}

h1, .h1 {
  font-size: 1.333rem;

  @include media-breakpoint-up(md) {
    font-size: 1.555rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 2.222rem;
  }
}

h2, .h2 {
  font-size: 1.333rem;

  @include media-breakpoint-up(xl) {
    font-size: 1.666rem;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn-play {
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 2px 3px #000;
  @include bgset;
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(35, 22, 16, .6);
  transition: transform .3s, box-shadow .3s;
  overflow: hidden;

  border-radius: 20px;
  max-width: 265px;
  height: 64px;
  font-size: 32px;

  @include media-breakpoint-up(xl) {
    border-radius: 24px;
    max-width: 302px;
    height: 73px;
    font-size: 36px;
  }

  @include media-breakpoint-up(xl) {
    border-radius: 32px;
    max-width: 414px;
    height: 100px;
    font-size: 44px;
  }

  &_hover {
    @include bgset;
    @include abs;
    transform: scale(1, -1);
    transition: opacity .5s;
    opacity: 0;
  }

  &:hover {
    text-decoration: none;
    box-shadow: 0 5px 24px rgba(35, 22, 16, .9);
  }

  &:active {
    transform: translateY(2px);

    .btn-play_hover {
      opacity: .22;
    }
  }

  span {
    position: relative;
  }

  &__medium {
    max-width: 317px;
    height: 77px;
    font-size: 32px;

    @include media-breakpoint-up(xl) {
      max-width: 360px;
      height: 87px;
      font-size: 36px;
    }
  }
}
